<div id="index">

    <div id="featured" class="bgSizeCover center-block"></div>

    <!--<div class="widewrapper">
        <img src="/Content/images/homepage.jpg" alt="" class="img-responsive" />
    </div>-->
    <!--<div class="jumbotron">
        <img src="/Content/images/homepage.jpg" alt="" class="img-responsive"/>
    </div>-->
   
    <div class="hidden-sm hidden-xs">
        <div class="widewrapper ">
            <div class="widewrapperPos">
                <img src="/Content/images/houserMaintainer4.jpg" alt="" class="img-responsive" />
                <div class="widewrapperText">
                    <div class="container">
                        <h3>We make things simpler and faster for both home owners and service providers</h3>
                        <hr />
                        "Fix your house online"
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mart5">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="smallwidewrapper ">
                    <div class="smallwidewrapperPos">
                        <img src="/Content/images/Maintanace.jpg" alt="Breeze!!" class="img-responsive"/>
                        <div class="widewrapperText">
                            <p>Home Owners</p>
                        </div>
                    </div>
                    <br/>
                    <p>Our aim is to make it easier & more convienient to fix any household fault.</p>
                    <p>This is the platform where you can log a call and the nearest available service provider will arrive at your doorstep without direct communication.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="smallwidewrapper ">
                    <div class="smallwidewrapperPos">
                        <img src="/Content/images/small_Hauswartung11.jpg" alt="ASP MVC and Web API" class="img-responsive"/>
                        <div class="widewrapperText">
                            <p>Service Providers</p>
                        </div>
                    </div>

                </div>
                <br/>
                <p>Our aim is to Gurantee your customers pay on time with no hassles.</p>
                <p>Our customer will give you accurate description of faults, avoiding unnecessary travelling for parts.</p>
            </div>
        </div>
    </div>

    <!--<div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-8">
                        User List
                    </div>
                    <div class="col-sm-4">
                        <input class="form-control" placeholder="User Search" data-bind="event:{keypress:search}" />
                    </div>
                </div>
            </div>
            <div class="panel-body" data-bind="foreach: profiles">
                <a href="" data-bind="attr:{href: '/profile?id=' + userId()} ">
                    <div data-bind="text:firstName"></div>
                </a>
            </div>
        </div>
    </div>-->
</div>